html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  overflow-x: hidden;
}

h1 {
  font-size: 2.5rem;
  color: #343a40;
}

.main-content {
  margin-left: 260px;
  padding: 2rem;
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px; /* Inicialmente oculto */
  background-color: #343a40;
  color: white;
  transition: 0.3s;
  padding-top: 60px;
}

.sidebar-header h2 {
  text-align: center;
  color: #ffffff;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  padding: 12px 16px;
  text-align: center;
}

.sidebar-menu li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
  transition: 0.3s;
}

.sidebar-menu li a:hover {
  background-color: #007bff;
  transform: scale(1.1);
}

.sidebar-menu li a:active {
  background-color: #0056b3;
}

.menu-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 30px;
  background-color: #343a40;
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
}

.menu-toggle:hover {
  background-color: #007bff;
}

.sidebar.open {
  left: 0;
}

.main-content {
  transition: margin-left 0.3s;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: 100%;
    left: -100%;
  }

  .main-content {
    margin-left: 0;
  }

  .sidebar.open {
    left: 0;
  }

  .menu-toggle {
    top: 15px;
    left: 15px;
  }
}
