<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Interactivo Avanzado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="sidebar">
        <div class="sidebar-header">
            <h2>Dashboards</h2>
        </div>
        <ul class="sidebar-menu">
            <li><a href="/1a/" class="menu-item">1A</a></li>
            <li><a href="/1b/" class="menu-item">1B</a></li>
            <li><a href="/1c/" class="menu-item">1C</a></li>
            <li><a href="/2a/" class="menu-item">2A</a></li>
            <li><a href="/2b/" class="menu-item">2B</a></li>
            <li><a href="/2c/" class="menu-item">2C</a></li>
            <li><a href="/3a/" class="menu-item">3A</a></li>
            <li><a href="/3b/" class="menu-item">3B</a></li>
            <li><a href="/3c/" class="menu-item">3C</a></li>
        </ul>
    </div>

    <!-- Contenido principal -->
    <div class="main-content">
        <h1>Dash de pruebas 6 de mayo </h1>
        <p> Alfinal hare el despliegue en D1 por problemas con unibotics.<br>
        Cosas por hacer:<br>
        - Nuevas dash que me diga Felipe<br>
        - Poner ya las imagenes <span>&#x2714;</span> <br>
        - Poner el codigo<br>
                    - Añadir las nuevas técnologias postgrade y dash <span>&#x2714;</span> <br>

        - Editar dash genero para que sean quitables <span>&#x2714;</span> <br>
            - Documentar base de datos  <span>&#x2714;</span> (a falta de poner el codigo de sql) <br>
        </p>
    </div>

    <div class="menu-toggle">
        <span>&#9776;</span>
    </div>

  <script>
    const menuToggle = document.querySelector('.menu-toggle');
    const sidebar = document.querySelector('.sidebar');
    const mainContent = document.querySelector('.main-content');

    menuToggle.addEventListener('click', () => {
        sidebar.classList.toggle('open');
        mainContent.classList.toggle('shift');
    });
</script>
</body>
</html>

