<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú de Opciones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Dash de pruebas 2 semana marzo</h1>

    <div class="button-container">
        <a href="/1a/" class="btn">1A</a>
        <a href="/1b/" class="btn">1B</a>
        <a href="/1c/" class="btn">1C</a>
    </div>

    <div class="button-container">
        <a href="/2a/" class="btn">2A</a>
        <a href="/2b/" class="btn">2B</a>
        <a href="/2c/" class="btn">2C</a>
    </div>

<div class="button-container">
        <a href="/3a/" class="btn">3A</a>
            <a href="/3b/" class="btn">3B</a>
                <a href="/3c/" class="btn">3C</a>



    </div>
</body>
</html>
