<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería de Dashboards</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="layout">
        <aside class="sidebar">
            <nav>
                <ul>
                    <li {% if active_page == 'dashboard' %}class="active"{% endif %}>
                        <a href="{{ url_for('index') }}">Dashboard</a>
                    </li>
                    <li {% if active_page == 'documentacion' %}class="active"{% endif %}>
                        <a href="{{ url_for('documentacion') }}">Documentación</a>
                    </li>
                    <li>
                        <a href="https://unibotics.org" target="_blank">Unibotics</a>
                    </li>
                </ul>
            </nav>
        </aside>

        <div class="content">
            <h1 class="gallery-title">DASHBOARDS</h1>
            <main class="dashboard-gallery">
                <div class="dashboard-grid">
                    <a href="/1a/" class="dashboard-card">
                        <img src="{{ url_for('static', filename='../static/1a.png') }}" alt="Dashboard 1A">
                        <span>Dashboard 1A</span>
                    </a>
                    <a href="/1c/" class="dashboard-card">
                        <img src="{{ url_for('static', filename='../static/1c.png') }}" alt="Dashboard 1C">
                        <span>Dashboard 1C</span>
                    </a>
                    <a href="/2a/" class="dashboard-card">
                        <img src="{{ url_for('static', filename='../static/2a.png') }}" alt="Dashboard 2A">
                        <span>Dashboard 2A</span>
                    </a>
                    <a href="/2c/" class="dashboard-card">
                        <img src="{{ url_for('static', filename='../static/2c.png') }}" alt="Dashboard 2C">
                        <span>Dashboard 2C</span>
                    </a>
                    <a href="/3a/" class="dashboard-card">
                        <img src="{{ url_for('static', filename='../static/3a.png') }}" alt="Dashboard 3A">
                        <span>Dashboard 3A</span>
                    </a>
                    <a href="/3b/" class="dashboard-card">
                        <img src="{{ url_for('static', filename='../static/3bb.png') }}" alt="Dashboard 3B">
                        <span>Dashboard 3B</span>
                    </a>
                    <a href="/3c/" class="dashboard-card center-last">
                        <img src="{{ url_for('static', filename='../static/3c.png') }}" alt="Dashboard 3C">
                        <span>Dashboard 3C</span>
                    </a>
                </div>
            </main>
        </div>
    </div>
</body>
</html>
